{% extends "level2.html.twig" %}

{% block content %}
    <h1>Contenu de votre panier</h1>

    <p>
    <table style="border:solid; border-collapse : collapse">
        <tr>
            <th>Libellé</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Action</th>
        </tr>
        {% set qteTotale = 0 %}
        {% set prixTotal = 0 %}
        {% for panier in paniers %}
            <tr>
                <td style="border:solid";>{{ panier.produit.libelle }}</td>
                <td style="border:solid";>{{ panier.produit.prixUnitaire }}</td>
                <td style="border:solid";>{{ panier.qte }}</td>
                <td style="border:solid";>{{ panier.produit.prixUnitaire * panier.qte }}</td>
                <td><a href="{{ path("remove_panier", {'idProduit': panier.produit.id}) }}"
                       class="button">Supprimer</a></td>
            </tr>
            {% set qteTotale = qteTotale + panier.qte %}
            {% set prixTotal = prixTotal + panier.produit.prixUnitaire * panier.qte  %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{ qteTotale }}</td>
            <td>{{ prixTotal }}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td><a href="{{ path("acheter_panier") }}" class="button">Acheter</a></td>
            <td><a href="{{ path("empty_panier") }}" class="button">Vider</a></td>
        </tr>
    </table>
    </p>
{% endblock %}
