{% extends "Layouts/level2.html.twig" %}

{% block content %}
    {{ form(myform) }}
{#    {% for msg in app.session.flashBag.get('info') %}#}
{#        {{ msg }}<br/><br/>#}
{#    {% endfor %}#}

{#    <form>#}
{#    <div>#}
{#        {{ form_row(myform.login) }}#}
{#        {{ form_row(myform.nom) }}#}
{#        {{ form_row(myform.prenom) }}#}
{#        {{ form_row(myform.mdp) }}#}
{#        {{ form_row(myform.send) }}#}
{#    </div>#}
{#    </form>#}
{% endblock %}


{# ====================================================================================== #}
{# AUTEURS: Amandine Fradet, Florian Legendre                                             #}
{# ====================================================================================== #}