{% extends "level2.html.twig" %}

{% block content %}

    {% for user in users %}

        <div>
            {{ user.id }},
            {{ user.login }}
            {{ user.nom }}
            {{ user.prenom }}

            {{ user.isAdmin }}
            <a href="{{ path("delete_account", {"id":user.id}) }}">Delete</a>
        </div>

    {% endfor %}

{% endblock %}