{% extends "Layouts/level2.html.twig" %}

{% block content %}
    {% for msg in app.session.flashBag.get('info') %}
        {{ msg }}<br/><br/>
    {% endfor %}

    <h1>Liste des produits de notre magasin</h1>

    <form action="{{ path("panier_ajoutPanier") }}" method="post">
    <p>
    <table style="border:solid; border-collapse : collapse">
    <tr>
        <th>Libellé</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Choix</th>
    </tr>
        {% for produit in produits %}
            <tr>
                <td style="border:solid";>{{ produit.libelle }}</td>
                <td style="border:solid";>{{ produit.prixUnitaire }}</td>
                <td style="border:solid";>{{ produit.qte }}</td>
                <td style="border:solid";>
                    <select name="{{ produit.id }}">
                        {% for i in 0..produit.qte %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    <tr><td colspan="4"><input type="submit" value="Ajouter au Panier"/></td></tr>
    </table>
    </p>
        <a href="{{ path("produits_mail") }}" class="button">Envoie Mail</a>
    </form>
{% endblock %}
